#container {display:flex; flex-direction:column; height:100%; width:100%;}
        #output {width:100%}

        h2 {text-align:center;}
        #player {display:flex; flex-direction:column; width:400px; margin:auto;}

        .row {display:flex; flex-direction:row;}
        .col1, .col3, .col4, .col5 {width: 50px;text-align:center;}
        .col2 {width: 200px;}
        .winner_back {background-color : green}
        .loser_back {background-color : red}

        #match {margin-top: 40px;}

        .week {display:flex; flex-direction:row; justify-content:flex-start;}
        .highlighted {background: #afa; }

        .week_matches {display:flex; flex-direction:row; justify-content:space-around; width:100%;}

        .date {text-align:center; display:flex; flex-direction:column; justify-content:space-around; margin:5px;}
        .date { }

        //.played, .unplayed, .ongoing {}

        .played {border: 2px solid #000; background-color:#fff;}
        .unplayed {border: 2px dashed #aaa; background-color:#fff;}
        .ongoing {border: 2px solid #000; background-color: #cc0;}

        .match_box { display:flex; flex-direction:row; margin:5px; position: relative; }

        .player_box {width: 120px;}
        .games_box {width: 150px; display:flex; flex-direction:row;}

        .game_box {width: 50px;}

        .name_box, .race_box {height: 50px; line-height:50px; text-align:center;}

        .space_box, .time_box {height:30px; line-height:30px; text-align:center;font-size:11px;}

        .winner {color : green}
        .loser {color : red}


        //.normal_player, .winner, .loser {text-align: center; border:none; width: 100%;margin:0px;padding:0px;}




        #popup {
            position: absolute;
            top: -10px;
            left: -10px;
            background-color: #fff;
            border: 1px solid #ccc;
            width: 300px;

            border-radius:5px;

            z-index: 3;
        }

        .row {display:flex; flex-direction:row; justify-content:flex-end;}

        #popup label {
            flex-grow:50;
        }

        #popup div {
            margin:15px;
        }

        .hidden {
            display: none;
        }

        .active {
            display: block;
        }

        #error_output {
            color:#f00;
        }