#container {display:flex; flex-direction:column; height:100%; width:100%;}
        #output {width:100%}

        #player {display:flex; flex-direction:column; width:400px;}

        .row {display:flex; flex-direction:row;}
        .col1, .col3, .col4, .col5 {width: 50px;text-align:center;}
        .col2 {width: 200px;}
        .winner_back {background-color : green}
        .loser_back {background-color : red}

        #match {margin-top: 40px;}

        .week {display:flex; flex-direction:row; justify-content:space-around;}
        .highlighted {background: #afa; }

        .played, .unplayed, .ongoing, .date {display:flex; flex-direction:column; justify-content:space-around; width:100px; height:80px; margin:5px;  position: relative; }
        .date {text-align:center; }

        .normal_player, .winner, .loser {text-align: center; border:none; width: 100%;margin:0px;padding:0px;}

        .score { display:flex; flex-direction:column; justify-content:space-around; height:100%;}
        .score div { display:flex; flex-direction:row; justify-content:space-around;}

        .info {
            display: none;
            position: absolute;
            width: 100px;
            height: 80px;
            left: 100px;
            border: 2px solid #000;
            border-left: 0px;
            background-color: #fff;
            z-index: 1;
        }
        .ongoing .info {
            background-color: #cc0;
        }

        .winner {color : green}
        .loser {color : red}
        span.winner, span.loser {10px;}

        .played {border: 2px solid #000; }
        .unplayed {border: 2px dashed #aaa; }
        .ongoing {border: 2px solid #000; background-color: #cc0;}

        .played:hover, .ongoing:hover {
            border-right: 0px;
            padding-right: 2px;
        }

        .played:hover .info, .ongoing:hover .info {
            display:block;
        }

        #popup {
            position: absolute;
            top: -10px;
            left: -10px;
            background-color: #fff;
            border: 1px solid #ccc;
            width: 300px;

            border-radius:5px;

            z-index: 3;
        }

        .row {display:flex; flex-direction:row; justify-content:flex-end;}

        #popup label {
            flex-grow:50;
        }

        #popup div {
            margin:15px;
        }

        .hidden {
            display: none;
        }

        .active {
            display: block;
        }

        #error_output {
            color:#f00;
        }